<a href="https://colab.research.google.com/github/suntech123/BigData/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
!pip install ray

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ray
  Downloading ray-1.13.0-cp37-cp37m-manylinux2014_x86_64.whl (54.5 MB)
     |████████████████████████████████| 54.5 MB 229 kB/s
Requirement already satisfied: jsonschema in /usr/local/lib/python3.7/dist-packages (from ray) (4.3.3)
Requirement already satisfied: msgpack<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ray) (1.0.4)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from ray) (1.21.6)
Requirement already satisfied: click<=8.0.4,>=7.0 in /usr/local/lib/python3.7/dist-packages (from ray) (7.1.2)
Collecting grpcio<=1.43.0,>=1.28.1
  Downloading grpcio-1.43.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 45.9 MB/s
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from ray) (3.13)
Requirement already satisfied: protobuf<4.0.0,>=3.15.3 in /usr/local/lib/python3.7/dist-packages (from ray) (3.17.3)
Requirement already satisfied: aiosignal in /usr/local/lib/python3.7/dist-packages (from ray) (1.2.0)
Collecting virtualenv
  Downloading virtualenv-20.16.3-py2.py3-none-any.whl (8.8 MB)
     |████████████████████████████████| 8.8 MB 48.6 MB/s
Requirement already satisfied: frozenlist in /usr/local/lib/python3.7/dist-packages (from ray) (1.3.0)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from ray) (22.1.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from ray) (3.7.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from ray) (2.28.1)
Requirement already satisfied: six>=1.5.2 in /usr/local/lib/python3.7/dist-packages (from grpcio<=1.43.0,>=1.28.1->ray) (1.15.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema->ray) (5.9.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema->ray) (4.12.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema->ray) (0.18.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from jsonschema->ray) (4.1.1)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema->ray) (3.8.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->ray) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests->ray) (2.1.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->ray) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->ray) (2022.6.15)
Collecting distlib<1,>=0.3.5
  Downloading distlib-0.3.5-py2.py3-none-any.whl (466 kB)
     |████████████████████████████████| 466 kB 69.1 MB/s
Collecting platformdirs<3,>=2.4
  Downloading platformdirs-2.5.2-py3-none-any.whl (14 kB)
Installing collected packages: platformdirs, distlib, virtualenv, grpcio, ray
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.47.0
    Uninstalling grpcio-1.47.0:
      Successfully uninstalled grpcio-1.47.0
Successfully installed distlib-0.3.5 grpcio-1.43.0 platformdirs-2.5.2 ray-1.13.0 virtualenv-20.16.3

In [96]:
!pip install timebudget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting timebudget
  Downloading timebudget-0.7.1-py3-none-any.whl (9.5 kB)
Installing collected packages: timebudget
Successfully installed timebudget-0.7.1

In [70]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.5 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [4]:
#!pip install tqdm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.64.0)

In [97]:
import pandas as pd
# to handle dates 
from datetime import date, datetime

import os

# to parallelise things 
import ray

# useful util to check the time on running a function 
from timebudget import timebudget

import yfinance as yf
from tqdm import tqdm

In [5]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving MCAP31032022.xlsx to MCAP31032022.xlsx
User uploaded file "MCAP31032022.xlsx" with length 121817 bytes

In [6]:
mcap = pd.read_excel(r'/content/MCAP31032022.xlsx')

In [7]:
mcap.columns   # ['Symbol', 'Company Name']
cols = ['Symbol', 'Company Name']
mcap1 = mcap[cols].dropna(how='any',axis=0).copy()
sym = [str(i)+'.NS' for i in list(mcap1['Symbol'])]

In [99]:
columns = ['symbol','shortName','quoteType','sector','industry','exchange','exchangeTimezoneName','exchangeTimezoneShortName','marketCap','currency','city','address1','address2','country','bookValue','debtToEquity','website']
@ray.remote
def dwnld_mcap_info(sym,cols):
  org_list = []
  #for t in sym:
  t = sym
  org_list.append(list( map(yf.Ticker(t).info.get, columns) ))
  df = pd.DataFrame(org_list, columns = columns)
  return df

ray.init(ignore_reinit_error=True, num_cpus=16)
@timebudget
def download_my_stocks(operation, input):
    mydata = ray.get([operation.remote(ticker,columns) for ticker in input]) 
    return mydata

sym = sym_except #sym[2000:2011]
mydata=download_my_stocks(dwnld_mcap_info, sym)
ray.shutdown()

df = pd.concat(mydata)
# df = df.rename(columns={'formatted_date':'Date'})
# df = df.drop('date', axis = 1)
# df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format=True)
# df = df.set_index('Date')
df.head()

2022-08-06 13:18:02,390	INFO worker.py:973 -- Calling ray.init() again after it has already been called.
2022-08-06 13:18:13,490	WARNING worker.py:1404 -- WARNING: 8 PYTHON worker processes have been started on node: d9ec5a5897cc194e2a30462df7196733cc8a3997c222f378b656a43d with address: 172.28.0.2. This could be a result of using a large number of actors, or due to tasks blocked in ray.get() calls (see https://github.com/ray-project/ray/issues/3644 for some discussion of workarounds).

download_my_stocks took 60.633sec

,symbol,shortName,quoteType,sector,industry,exchange,exchangeTimezoneName,exchangeTimezoneShortName,marketCap,currency,city,address1,address2,country,bookValue,debtToEquity,website
0,NATIONALUM.NS,NATIONAL ALUMINUM,EQUITY,Basic Materials,Aluminum,NSI,Asia/Kolkata,IST,142614331392,INR,Bhubaneswar,NALCO Bhawan,Plot No. P/1 Nayapalli,India,68.303,0.614,https://www.nalcoindia.com
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,NaN,None,None
0,TATAINVEST.NS,TATA INVESTMENT,EQUITY,Financial Services,Capital Markets,NSI,Asia/Kolkata,IST,74628423680,INR,Mumbai,Elphinstone Building,"2nd Floor 10, Veer Nariman Road",India,3888.849,0.009,https://www.tatainvestment.com
0,ICRA.NS,ICRA LTD,EQUITY,Financial Services,Financial Data & Stock Exchanges,NSI,Asia/Kolkata,IST,36900519936,INR,Gurugram,Building No. 8,"2nd Floor Tower A DLF Cyber City, Phase II",India,876.999,1.655,https://www.icra.in
0,CEATLTD.NS,CEAT LTD,EQUITY,Consumer Cyclical,Auto Parts,NSI,Asia/Kolkata,IST,53655031808,INR,Mumbai,RPG House,"463, Dr. Annie Besant Road Worli",India,809.098,67.616,https://www.ceat.com

In [9]:
df.to_csv(r'/content/mcap_2000_2011.csv')

In [44]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving nse_all_indexes.xlsx to nse_all_indexes.xlsx
User uploaded file "nse_all_indexes.xlsx" with length 262398 bytes

In [100]:
import pandas as pd

In [101]:
df_cap = pd.read_excel(r'/content/MCAP31032022.xlsx')
#df_all = pd.read_excel(r'/content/nse_all_indexes.xlsx')

In [77]:
#df_all[df_all['symbol']=='HDFCBANK.NS']

,Unnamed: 0,symbol,shortName,quoteType,sector,industry,exchange,exchangeTimezoneName,exchangeTimezoneShortName,marketCap,currency,city,address1,address2,country,bookValue,debtToEquity,website
2,2,HDFCBANK.NS,HDFC BANK,EQUITY,Financial Services,Banks—Regional,NSI,Asia/Kolkata,IST,7.940806e+12,INR,Mumbai,HDFC Bank House,Senapati Bapat Marg Lower Parel (W),India,465.81,NaN,https://www.hdfcbank.com

In [102]:
df1 = pd.read_csv(r'/content/mcap_0_199.csv')
df2 = pd.read_csv(r'/content/mcap_200_399.csv')
df3 = pd.read_csv(r'/content/mcap_400_599.csv')
df4 = pd.read_csv(r'/content/mcap_600_799.csv')
df5 = pd.read_csv(r'/content/mcap_800_1099.csv')
df6 = pd.read_csv(r'/content/mcap_1100_1399.csv')
df7 = pd.read_csv(r'/content/mcap_1400_1699.csv')
df8 = pd.read_csv(r'/content/mcap_1700_1999.csv')
df9 = pd.read_csv(r'/content/mcap_2000_2011.csv')
df10 = df

In [103]:
df_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10], axis=0)

In [104]:
len(df_all)

2153

In [48]:
#df_all.head()

,Unnamed: 0,symbol,shortName,quoteType,sector,industry,exchange,exchangeTimezoneName,exchangeTimezoneShortName,marketCap,currency,city,address1,address2,country,bookValue,debtToEquity,website
0,0,RELIANCE.NS,RELIANCE INDS,EQUITY,Energy,Oil & Gas Refining & Marketing,NSI,Asia/Kolkata,IST,1.714502e+13,INR,Mumbai,Maker Chambers IV,3rd Floor 222 Nariman Point,India,1132.233,31.210,https://www.ril.com
1,1,TCS.NS,TATA CONSULTANCY S,EQUITY,Technology,Information Technology Services,NSI,Asia/Kolkata,IST,1.231289e+13,INR,Mumbai,TCS House,Raveline Street Fort,India,245.599,8.556,https://www.tcs.com
2,2,HDFCBANK.NS,HDFC BANK,EQUITY,Financial Services,Banks—Regional,NSI,Asia/Kolkata,IST,7.940806e+12,INR,Mumbai,HDFC Bank House,Senapati Bapat Marg Lower Parel (W),India,465.810,NaN,https://www.hdfcbank.com
3,3,INFY.NS,INFOSYS LTD,EQUITY,Technology,Information Technology Services,NSI,Asia/Kolkata,IST,6.780214e+12,INR,Bengaluru,Plot no. 44/97 A,3rd cross Electronic City Hosur Road,India,2.226,8.171,https://www.infosys.com
4,4,ICICIBANK.NS,ICICI BANK,EQUITY,Financial Services,Banks—Regional,NSI,Asia/Kolkata,IST,5.830805e+12,INR,Mumbai,ICICI Bank Towers,Bandra-Kurla Complex,India,272.658,NaN,https://www.icicibank.com

In [105]:
df_all.columns

Index(['Unnamed: 0', 'symbol', 'shortName', 'quoteType', 'sector', 'industry',
       'exchange', 'exchangeTimezoneName', 'exchangeTimezoneShortName',
       'marketCap', 'currency', 'city', 'address1', 'address2', 'country',
       'bookValue', 'debtToEquity', 'website'],
      dtype='object')

In [106]:
colss = ['symbol', 'shortName', 'quoteType', 'sector', 'industry','exchange', 'exchangeTimezoneName', 'exchangeTimezoneShortName',\
       'marketCap', 'currency', 'city', 'address1', 'address2', 'country','bookValue', 'debtToEquity', 'website']

In [51]:
# mcap_api = df_all[colss].dropna(how='any',axis=0).copy()

In [107]:
mcap_api = df_all[df_all['symbol'].notna()][colss].copy()

In [108]:
cols = ['Symbol', 'Company Name']
mcap123 = df_cap[cols].dropna(how='any',axis=0).copy()

In [109]:
mcap123.head()

      Symbol                       Company Name
0   RELIANCE        Reliance Industries Limited
1        TCS  Tata Consultancy Services Limited
2   HDFCBANK                  HDFC Bank Limited
3       INFY                    Infosys Limited
4  ICICIBANK                 ICICI Bank Limited

In [37]:
#mcap_api.to_excel(r'/content/final.xlsx')

In [110]:
mcap_api[['Symbol', 'symbol_ext']] = mcap_api['symbol'].str.split('.', 1, expand=True)

In [111]:
mcap_api.head()

,symbol,shortName,quoteType,sector,industry,exchange,exchangeTimezoneName,exchangeTimezoneShortName,marketCap,currency,city,address1,address2,country,bookValue,debtToEquity,website,Symbol,symbol_ext
0,RELIANCE.NS,RELIANCE INDS,EQUITY,Energy,Oil & Gas Refining & Marketing,NSI,Asia/Kolkata,IST,17145018712064.0,INR,Mumbai,Maker Chambers IV,3rd Floor 222 Nariman Point,India,1132.233,31.21,https://www.ril.com,RELIANCE,NS
1,TCS.NS,TATA CONSULTANCY S,EQUITY,Technology,Information Technology Services,NSI,Asia/Kolkata,IST,12312885854208.0,INR,Mumbai,TCS House,Raveline Street Fort,India,245.599,8.556,https://www.tcs.com,TCS,NS
2,HDFCBANK.NS,HDFC BANK,EQUITY,Financial Services,Banks—Regional,NSI,Asia/Kolkata,IST,7940806279168.0,INR,Mumbai,HDFC Bank House,Senapati Bapat Marg Lower Parel (W),India,465.810,NaN,https://www.hdfcbank.com,HDFCBANK,NS
3,INFY.NS,INFOSYS LTD,EQUITY,Technology,Information Technology Services,NSI,Asia/Kolkata,IST,6780214050816.0,INR,Bengaluru,Plot no. 44/97 A,3rd cross Electronic City Hosur Road,India,2.226,8.171,https://www.infosys.com,INFY,NS
4,ICICIBANK.NS,ICICI BANK,EQUITY,Financial Services,Banks—Regional,NSI,Asia/Kolkata,IST,5830804504576.0,INR,Mumbai,ICICI Bank Towers,Bandra-Kurla Complex,India,272.658,NaN,https://www.icicibank.com,ICICIBANK,NS

In [112]:
mcap_usable = pd.merge(mcap123, mcap_api, how='left', on=['Symbol'])

In [113]:
mcap_usable.columns

Index(['Symbol', 'Company Name', 'symbol', 'shortName', 'quoteType', 'sector',
       'industry', 'exchange', 'exchangeTimezoneName',
       'exchangeTimezoneShortName', 'marketCap', 'currency', 'city',
       'address1', 'address2', 'country', 'bookValue', 'debtToEquity',
       'website', 'symbol_ext'],
      dtype='object')

In [114]:
sym_except = [str(i)+'.NS' for i in list(mcap_usable[mcap_usable['symbol'].isna()]['Symbol'])]
#df[df[2].isna()]

In [116]:
len(sym_except) #136

136

In [123]:
len(mcap_usable)

2014

In [124]:
mcap_usable.to_excel(r'/content/nse_all_indexes1.xlsx')

In [127]:
mcap_usable['mcap_usable'] = pd.to_numeric(mcap_usable['marketCap'])

In [133]:
#mcap_usable.dtypes
small_cap = mcap_usable[mcap_usable['mcap_usable']<50000000000].copy()##.to_excel(r'/content/small_caps.xlsx')

In [134]:
#import yfinance as yf
#sym_except

In [135]:
small_cap.columns

Index(['Symbol', 'Company Name', 'symbol', 'shortName', 'quoteType', 'sector',
       'industry', 'exchange', 'exchangeTimezoneName',
       'exchangeTimezoneShortName', 'marketCap', 'currency', 'city',
       'address1', 'address2', 'country', 'bookValue', 'debtToEquity',
       'website', 'symbol_ext', 'mcap_usable'],
      dtype='object')

In [136]:
small_cap['sector'].unique()

array(['Financial Services', 'Consumer Cyclical',
       'Communication Services', 'Consumer Defensive', 'Basic Materials',
       'Industrials', 'Technology', 'Healthcare', 'Real Estate',
       'Utilities', nan, 'Energy', 'Industrial Goods'], dtype=object)

In [147]:
small_cap[(small_cap['sector'] == 'Consumer Cyclical') & (small_cap['industry']=='Lodging')]  ##'Financial Services'(103) | 'Consumer Cyclical'(270) | 'Communication Services'(60)

,Symbol,Company Name,symbol,shortName,quoteType,sector,industry,exchange,exchangeTimezoneName,exchangeTimezoneShortName,...,currency,city,address1,address2,country,bookValue,debtToEquity,website,symbol_ext,mcap_usable
575,ITDC,India Tourism Development Corporation Limited,ITDC.NS,INDIA TOURISM DEV,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,New Delhi,Scope Complex,6th Floor Core 8 7 Lodi Road,India,33.317,0.228,https://itdc.co.in,NS,2.790018e+10
824,EIHAHOTELS,EIH Associated Hotels Limited,EIHAHOTELS.NS,EIH ASSOC HOTELS,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Delhi,"7, Sham Nath Marg",NaN,India,102.287,0.592,https://www.eihassociatedhotels.in,NS,1.264156e+10
881,ORIENTHOT,Oriental Hotels Limited,ORIENTHOT.NS,ORIENTAL HOTELS,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Chennai,Paramount Plaza,III Floor No. 47 Mahatma Gandhi Road Nungambakkam,India,23.903,63.577,https://www.orientalhotels.co.in,NS,1.313596e+10
933,TAJGVK,Taj GVK Hotels & Resorts Limited,TAJGVK.NS,TAJ GVK HOTELS,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Hyderabad,Taj Krishna,Road No.1 Banjara Hills,India,57.104,58.002,https://www.tajgvk.in,NS,1.001931e+10
1059,HLVLTD,HLV LIMITED,HLVLTD.NS,HLV LIMITED,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Mumbai,The Leela Mumbai,Sahar Andheri (East),India,5.752,11.554,https://www.hlvltd.com,NS,6.104019e+09
1173,ADVANIHOTR,Advani Hotels & Resorts (India) Limited,ADVANIHOTR.NS,ADVANI HOTELS & RE,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Mumbai,18A & 18B Jolly Maker Chambers - II,Nariman Point,India,8.000,1.805,https://www.caravelabeachresortgoa.com,NS,3.667493e+09
1243,ROHLTD,Royal Orchid Hotels Limited,ROHLTD.NS,ROYAL ORCHID HOTEL,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Bengaluru,"No. 1, Golf Avenue",Adjoining KGA Golf Course HAL Airport Road Kod...,India,48.349,101.01,https://www.royalorchidhotels.com,NS,4.824173e+09
1292,AHLEAST,Asian Hotels (East) Limited,AHLEAST.NS,ASIAN HOTELS (EAST,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Kolkata,Hyatt Regency Kolkata,"JA-1, Sector-III Salt Lake City",India,613.915,20.482,https://www.ahleast.com,NS,2.766672e+09
1361,APOLSINHOT,Apollo Sindoori Hotels Limited,APOLSINHOT.NS,APOLLO SINDOORI HO,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Chennai,"No.43/5, Hussain Mansion",Ground Floor Greams Road Thousand Lights,India,356.974,20.178,https://www.apollosindoori.com,NS,1.794276e+09
1436,KAMATHOTEL,Kamat Hotels (I) Limited,KAMATHOTEL.NS,KAMAT HOTELS (IND),EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Mumbai,KHIL House,"70-C, Nehru Road Vile Parle (East) Adjoining O...",India,-76.346,NaN,https://www.khil.com,NS,1.633440e+09
1454,ASIANHOTNR,Asian Hotels (North) Limited,ASIANHOTNR.NS,ASIAN HOTELS(NORTH,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,New Delhi,Bhikaiji Cama Place,M.G. Marg,India,166.558,458.044,https://www.asianhotelsnorth.com,NS,1.671363e+09
1467,BYKE,The Byke Hospitality Ltd,BYKE.NS,THE BYKE HOSPITALI,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Mumbai,Shree Shakambhari Corporate Park,Plot No. 156-158 Chakravarti Ashok Complex J. ...,India,39.393,59.962,https://www.thebyke.com,NS,1.607922e+09
1510,CCHHL,Country Club Hospitality & Holidays Limited,CCHHL.NS,COUNTRY CLUB HOSPI,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Hyderabad,"6-3-1219/A, Country Club Kool",4th & 5th Floors Begumpet,India,21.908,84.527,https://www.countryclubindia.net,NS,1.153005e+09
1724,HAVISHA,Sri Havisha Hospitality and Infrastructure Lim...,HAVISHA.NS,SRI HAVISHA HOSP A,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Hyderabad,Venus Plaza,Adjacent to old Airport Begumpet,India,1.070,11.877,https://www.shrishakti.com,NS,3.397645e+08
1783,TGBHOTELS,TGB Banquets And Hotels Limited,TGBHOTELS.NS,TGB BANQUETS AND H,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Ahmedabad,The Grand Bhagwati,Plot No. 380 S. G. Road Bodakdev,India,20.787,26.727,https://www.thegrandbhagwati.com,NS,2.720845e+08
1837,VICEROY,Viceroy Hotels Limited,VICEROY.NS,VICEROY HOTELS LTD,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,Hyderabad,"Plot No. 20, HUDA Techno Enclave","4th Floor Sector-I, Survey No. 64 Madhapur",India,-105.083,NaN,https://www.viceroyhotels.in,NS,8.056998e+07
1861,BLUECOAST,Blue Coast Hotels Limited,BLUECOAST.NS,BLUE COAST HOTELS,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,New Delhi,"415-417, Antriksh Bhawan","22, Kasturba Gandhi Marg",India,-87.890,NaN,https://www.bluecoast.in,NS,8.732722e+07
1895,AHLWEST,Asian Hotels (West) Limited,AHLWEST.NS,ASIAN HOTELS (WEST,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,New Delhi,"Aria Towers, J.W. Marriott","6th Floor New Delhi Aerocity, Asset Area 4 Hos...",India,33.191,2480.522,https://www.asianhotelswest.com,NS,1.677773e+09

In [149]:
mcap_usable[mcap_usable['Symbol']=='LEMONTREE']

,Symbol,Company Name,symbol,shortName,quoteType,sector,industry,exchange,exchangeTimezoneName,exchangeTimezoneShortName,...,currency,city,address1,address2,country,bookValue,debtToEquity,website,symbol_ext,mcap_usable
472,LEMONTREE,Lemon Tree Hotels Limited,LEMONTREE.NS,LEMON TREE HOTELS,EQUITY,Consumer Cyclical,Lodging,NSI,Asia/Kolkata,IST,...,INR,New Delhi,Asset No. 6,Aerocity Hospitality District IGI Airport,India,10.863,152.119,https://www.lemontreehotels.com,NS,5.775473e+10

In [122]:
yf.Ticker('DESTINY.NS').info

{'logo_url': '', 'preMarketPrice': None, 'regularMarketPrice': None}